*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}
.header a{
    color: black;
    text-decoration: none;
    padding-left: 9px;
}
.header a:hover{
    color: white;
    background-color: black;
}
.header{
    padding: 0 20px;
}
span{
    opacity: 0.5;
}
.container{
    position: relative;
    /* border: 1px solid black; */
    margin-left: 11%;
    margin-right: 11%;
    min-height: 100vh; 
}

.images{
    display: flex;
    /* position: absolute; */
    flex-wrap: wrap;
    /* padding: 20px; */
    justify-content: space-between;
}

.images .imgs{
    padding-bottom: 8px;
}  


.about{
    text-align: justify;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team div{
    border: 1px solid black;
    min-height: 200px;
    /* padding: 20px; */
    width: 220px;
    /* line-height: 100px; */
    text-align: justify;
    border: none;
}
.button{
    width: 100%;
    background-color: lightgrey;
    cursor: pointer;
}
input{
    width: 100%;
    padding: 13px;
    height: 20px;
    margin-bottom: 15px;
}
#btn{
    padding: 10px;
    width: 150px;
    color: white;
    background-color: black;
    height: 40px;
    cursor: pointer;
}
.last-pic{
    margin-top: 30px;
}
.footer{
    display: flex;
    height: 40px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}